<%= form_for @task,as: :task, url: action_name do |task_a| %>
  <p>
  <%= task_a.label :thing %>
  <%= task_a.text_field :thing %>
  </p>

  <p>
  <%= task_a.label :description %>
  <%= task_a.text_area :description %>
  </p>

  <p>
  <%= task_a.label :Completed %>
  <%= task_a.check_box :status %>
  </p>

  <p>
  <%= task_a.submit %>
  </p>

<% end %>
