<!-- APPARENTLY I DON'T NEED ANY OF THIS CODE? -->

<!-- <article>
  <h2>Get off your computer & do something!</h2>

  <p><%= @params %></p>
  <h1><%= @task.thing %></h1>
  <p><%= @task.description %></p>
  <p><%= @task.status %></p>
  <p><%= @task.complete_date %></p>

</article> -->
