<h1>Hey grrrrl...let's get stuff done</h1>
<img src="http://ell.h-cdn.co/assets/cm/15/02/480x221/placeholder_54ae89503fc86_-_elle-04-ryan-gosling.jpg" alt="Ryan Renolds is cheering for your success" />
<div>
  <% if @user %>
    <h1>Welcome <%= @user.name %></h1>
    <img src="<%= @user.avatar %>">
    <p>Followers: <%= @user.followercount %></p>

  <% @user.tasks.each do |task| %>
  <article>
    <ul>
      <% if task[:status] %>
        <h2><%= link_to( task[:thing], show_path(task[:id]) ) %> ☑</h2>
        <li>
          <%= button_to( "Mark incomplete", {action: "mark_incomplete", id: task[:id]}, method: :post ) %>
        </li>
      <% else %>
        <h2> <%= link_to( task[:thing], show_path(task[:id]) ) %></h2>
        <li>
          <%= button_to( "Mark Complete", {action: "mark_complete", id: task[:id]}, method: :post ) %>
        </li>
      <% end %>

      <li><%= button_to( "Edit Task", {action: "edit", id: task[:id]}, method: :get ) %></li>
      <li><%= button_to( "Delete Task",{action: "delete", id: task[:id]}, method: :delete, data: {confirm: "Don't just delete because you're lazy... 🙄"}) %></li>
    </ul>
  </article>
  <% end %>
  <% else %>
    <h1>Please log in to use the task list.</h1>
  <% end %>
  <% if flash[:notice] %>
    <p class="flash-notice"> <%= flash[:notice] %></p>
  <% end %>
</div>
