<h2>Grrrl, I see you trying to get on that Show page</h2>

<article>
  <h1> <%= @mytask[:thing] %> </h1>
  <h3> Completed? <%= @mytask[:status] %> </h3>
  <h3> Completion date: <%= @mytask[:complete_date] %> </h3>
  <p> <%= link_to( "Edit", edit_path(@mytask[:id]) ) %> </p>
  <p> <%= link_to( "Delete", delete_path(@mytask[:id]) ) %> </p>


</article>
