<h2>Grrrl, I see you trying to get on that Show page</h2>
<article>
  <h1> <%= @task.thing %> </h1>
  <h3> Completed? <%= @task.status %> </h3>
  <h5> Description: <%= @task.description %> </h5>
  <h5> Completion date: <%= @task.complete_date %> </h5>

  <p> <%= button_to( "Edit Task", {action: "edit", id: @task[:id]}, method: :get ) %> </p>
  <p> <%= button_to( "Delete Task",{action: "delete", id: @task[:id]}, method: :delete, data: {confirm: "Don't just delete because you're lazy... 🙄"}) %>
  </p>


</article>
