<article>
  <h2> <%= @task.thing %> </h2>
  <h3> Description: <%= @task.description %> </h3>

  <h5> Completed?
    <% if @task.status %>
      CHECK! <br />
    <% else %>
      NOPE!
    <% end %>
  </h5>

  <ul>
    <% if @task[:status] %>
      <li> <%= button_to( "Mark incomplete", mark_incomplete_path(@user, @task), method: :patch ) %> </li>
    <% else %>
      <li> <%= button_to( "Mark Complete", mark_complete_path(@user, @task), method: :patch ) %> </li>
    <% end %>
    <li><%= button_to( "Edit Task", {action: "edit", id: @task[:id]}, method: :get ) %></li>
    <li> <%= button_to( "Delete Task", user_task_path(user_id: @user.id, id: @task[:id]), method: :delete, data: {confirm: "Don't just delete because you're lazy... 🙄"}) %> </li>
  </ul>


</article>
