<h2>Grrrl, I see you trying to get on that Show page</h2>
<article>
  <h1> <%= @task.thing %> </h1>
  <h3> Completed? <%= @task.status %> </h3>
  <h5> Description: <%= @task.description %> </h5>
  <h5> Completion date: <%= @task.complete_date %> </h5>

  <ul>
    <% if @task[:status] %>
      <li>  </li>
    <% else %>
      <li>  </li>
    <% end %>

    <li> <%= button_to( "Delete Task",{action: "delete", id: @task[:id]}, method: :delete, data: {confirm: "Don't just delete because you're lazy... 🙄"}) %> </li>
  </ul>


</article>
