<!DOCTYPE html>
<html>
<head>
  <title>TaskListRails</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <% if @user %>
        <p><%= link_to("Log out", sessions_destroy_path, method: :delete) %></p>
        <p><%= link_to "View all tasks", user_path(@user.id) %></p>
        <p><%= link_to "New task", new_user_task_path(@user.id) %></p>
      <% else %>
        <p><%= link_to("Please log in via Github", "/auth/github") %></p>
      <% end %>
    </nav>
  </header>

  <div>
    <h1>Hey grrrrl...let's get stuff done</h1>
    <img src="http://www.baconwrappedmedia.com/wp-content/uploads/2012/10/ryan-gosling-hey-girl-17.jpg" alt="Ryan Renolds is cheering for your success" />
  </div>
  <%= yield %>

</body>
</html>
